<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>524894307153-rou9bh4r7416d8caufprbfjdo1qd95c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524894307153-rou9bh4r7416d8caufprbfjdo1qd95c5</string>
	<key>API_KEY</key>
	<string>AIzaSyDSNO9N7qCr-bUeP3lHItLi2tqqlRi-HsE</string>
	<key>GCM_SENDER_ID</key>
	<string>524894307153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliakkawi85.Instagram-Clone-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-54b55</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-54b55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:524894307153:ios:8cedb9d79013dca6</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-54b55.firebaseio.com</string>
</dict>
</plist>
